.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav .bg-white {
    backdrop-filter: blur(20px);
}

.linearView h5 {
    text-align: center;
    padding-bottom: 1%;
}

.linearView.mobile {
    text-align: center;
    width: 95%;
    padding: 0;
    margin: auto;
    padding-bottom: 2.5%;
}

.linearView.mobile .row {
    display: contents;
    padding: 2.5%;
}

.linearView.mobile .picture img {
    margin-bottom: 2.5%;
}

.leftAndRightView .linearView {
    display: flex;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    align-content: center;
    align-items: center;
    text-align: left;
    font-weight: 400;
}

.leftAndRightView .picture {

}

.leftAndRightView .text {

}

.leftAndRightView .picture img {
    max-height: 30%;
    opacity: 0.9;
}

.leftAndRightView .picture img:hover {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    cursor: pointer;
}

.leftAndRightView .coloredBackgroundLine {
    padding-top: 2vh;
    background-color: rgb(243, 243, 243);
}

.backgroundLine.mobile {
    margin-right: 0px !important;
}

.leftAndRightView .backgroundLine {
    padding-top: 2vh;
}

.leftAndRightView {
    display: block;
    margin-bottom: 1%;
}

.textWithGalleryBottomView {
    display: block;
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-weight: 400;
}

.textWithGalleryBottomView .gallery {
    height: 55vh;
    width: 100%;
    left: 0%;
    position: relative;
}

.textWithGalleryBottomView .gallery img {
    object-fit: cover;
    height: 55vh;
    width: 100vw;
}

.pageTitle {
    padding-top: 2vh;
    padding-bottom: 4vh;
    margin: auto;
}

.dataEditorRoot .buttonGroup {
    padding-top: 5%;
    padding-bottom: 5%;
}

.dataEditorRoot .title {
    padding-top: 2%;
}

.dataEditorRoot .editor {
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5px;
}

.dropdown-menu {
    font-size: 90%;
    border-radius: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.media-banner-container {
    display: block;
    width: 100%;
    left: 0%;
    position: relative;
    padding-bottom: 4vh;
}

.media-banner {
    position: relative;
    object-fit: cover;
    height: 40vh;
    width: 100%;
    z-index: -1;
}

.media-banner-text {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 0;
    width: 100%;
    color: white;
}

.media-banner-container-overlay {
    height: 40vh;
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0)
    );
}

.homepage-information h5 {
    padding-bottom: 1%;
}

.homepage-information {
    width: '100vw';
}

.gray-background {
    background-color: rgb(243, 243, 243);
}

.homepage-information-text {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}