.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.leftAndRightView .linearView {
    display: flex;
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.leftAndRightView .picture {
    margin: auto;
    width: 50%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.leftAndRightView .text {
    margin: 2.5vh;
    font-weight: 400;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: left;
}

.leftAndRightView .picture img {
    width: 100%;
    height: auto;
}

.leftAndRightView .coloredBackgroundLine {
    padding-top: 2vh;
    background-color: rgb(243, 243, 243);
}

.leftAndRightView .backgroundLine {
    padding-top: 2vh;
}

.leftAndRightView {
    display: block;
    margin-bottom: 1%;
}

.textWithGalleryBottomView {
    display: block;
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-weight: 400;
}

.textWithGalleryBottomView .gallery {
    height: 55vh;
    width: 100%;
    left: 0%;
    position: relative;
}

.textWithGalleryBottomView .gallery img {
    object-fit: cover;
    height: 55vh;
    width: 100vw;
}

.pageTitle {
    padding-top: 2vh;
    padding-bottom: 4vh;
}

.dataEditorRoot .buttonGroup {
    padding-top: 5%;
    padding-bottom: 5%;
}

.dataEditorRoot .title {
    padding-top: 2%;
}

.dataEditorRoot .editor {
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5px;
}

.dropdown-menu {
    font-size: 90%;
    border-radius: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.media-banner-container {
    display: block;
    width: 100%;
    left: 0%;
    position: relative;
    padding-bottom: 4vh;
}

.media-banner {
    position: relative;
    object-fit: cover;
    height: 30vh;
    width: 100%;
    z-index: -1;
}

.media-banner-text {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 0;
    width: 100%;
    color: white;
}

.media-banner-container-overlay {
    background: linear-gradient(
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0)
    );
}
