body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.carousel-overlay {
    /*backdrop-filter: blur(1px);*/
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
    ) !important;
    color: #fff;
    position: absolute;
    z-index: 12;
    top: 0%;
    right: 0%;
    width: 40%;
    height: 100%;
}

@media only screen and (max-device-width: 640px) and (max-device-width: 768px) {
    .carousel-overlay {
        width: 100%;
        background: rgba(0, 0, 0, 0.3) !important;
    }
    .carousel-overlay .carousel-card {
        top: 50%;
    }
    #basic-navbar-nav {
        font-weight: 550 !important;
        font-size: 120% !important;
    }
    .navbar-collapse.collapse.show {
        display: block;
        height: 100vh !important;
        overflow: hidden;
        margin-top: 10%;
    }
    .nav-item .dropdown-menu {
        border: none;
        border-radius: none !important;
        box-shadow: none;
        text-align: center;
    }
    .navbar .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
    .dropdown-menu.show[aria-labelledby~='drop-left'] {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }
    .dropdown-menu.show .dropdown-toggle.nav-link::after {
        transform: rotate(0) !important;
    }
    .zigzag-view .linear-view {
        max-width: 100% !important;
    }
    .zigzag-view .col {
        flex: none !important;
        padding-left: 0% !important;
        padding-right: 0% !important;
        width: 90% !important;
    }
    .homepage-information-text {
        width: 100% !important;
    }
    footer .container {
        width: 100% !important;
    }
}

footer {
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
}

.carousel-indicators button {
    display: none;
}

.carousel-card {
    background: rgba(0, 0, 0, 0) !important;
    top: 35%;
    width: 80%;
    left: 10%;
    position: absolute;
    background: black;
}

.footerSocialIcon {
    opacity: 100%;
}

.footerSocialIcon:hover {
    opacity: 60%;
}

.uppercasetext {
    text-transform: uppercase;
}

.boldtext {
    font-weight: bold;
}

.dropdown-menu.show[aria-labelledby~='drop-left'] {
    margin-left: 100%;
    margin-top: -25%;
}

#basic-navbar-nav {
    font-weight: 500;
}

footer .lead {
    font-size: 1.25rem;
    font-weight: 400;
}

a#basic-nav-dropdown#drop-left.dropdown-toggle::after {
    content: none !important;
}

.navlink-highlighted:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show .dropdown-toggle.nav-link::after {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40vh;
}

.loader img {
    animation: pulse 1s infinite;
    border-radius: 50%;
    width: 10vh;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0 rgb(181, 136, 140);
    }

    to {
        box-shadow: 0 0 0 20px rgba(201, 201, 48, 0.365);
    }
}
